/* Professional SVG Icons */
.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.icon-shield {
    width: 24px;
    height: 24px;
    fill: currentColor;
}

.icon-home {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.icon-document {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.icon-alert {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.icon-lightbulb {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.icon-logout {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.icon-sos {
    width: 24px;
    height: 24px;
    fill: currentColor;
}

.icon-search {
    width: 18px;
    height: 18px;
    fill: currentColor;
}

.icon-bag {
    width: 32px;
    height: 32px;
    fill: currentColor;
}

.icon-fire {
    width: 32px;
    height: 32px;
    fill: currentColor;
}

.icon-trophy {
    width: 24px;
    height: 24px;
    fill: currentColor;
}

.icon-chart {
    width: 24px;
    height: 24px;
    fill: currentColor;
}

.icon-lightning {
    width: 24px;
    height: 24px;
    fill: currentColor;
}

.icon-star {
    width: 24px;
    height: 24px;
    fill: currentColor;
}

.icon-phone {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.icon-eye {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.icon-warning {
    width: 24px;
    height: 24px;
    fill: currentColor;
}

.icon-microphone {
    width: 18px;
    height: 18px;
    fill: currentColor;
}

.icon-pointer {
    width: 18px;
    height: 18px;
    fill: currentColor;
}




